/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-code-snippets-content {
	background-color: var(--wp-admin-theme-color);
	color: #fff;
	padding: 2px;
}
