/**
 * The following styles get applied inside the block editor only.
 */

.code-snippets-large-select {
	width: 100%;
	margin-top: 1em;

	input[type="text"]:focus {
		box-shadow: none;
	}
}

.code-snippets-content-block {
	.dashicons {
		font-family: auto;

		&::before {
			font-family: dashicons;
		}
	}
}

.code-snippets-source-block {
	.dashicon {
		font-size: inherit;
		padding-right: 0.5em;
		width: 24px;
		height: 24px;
	}
}

.components-menu-item__button, .components-menu-item__button.components-button {
	height: 100%;
}
