@import 'tag-it/css/jquery.tagit';
@import 'tag-it/css/tagit.ui-zendesk';

/**
 * Custom styling for the single snippet admin page
 */

.form-table th {
	width: auto;
}

h2 {
	/* Provide some decent space between the fields and titles */
	margin: 25px 0 15px 0;

	&:first-of-type {
		margin-top: 20px;
	}

	label {
		cursor: auto;
	}
}

.inactive-snippet, .active-snippet {
	#title {
		border-left-width: 4px;
	}
}

.active-snippet #title {
	border-left-color: #46b450;
}


.inactive-snippet #title {
	border-left-color: #dc3232;
}


/* Position the description heading on the same level as the editor buttons */
label[for='snippet_description'] h3 div {
	position: absolute;
}

ul.tagit {
	background-color: #fff !important;
}

/* Add spacing in between the action buttons */
.submit .button {
	margin-right: .5em;
}

.snippet-scope {
	margin-top: 15px;

	label {
		margin-right: 1.5em;
		display: inline-block;
	}
}

.snippet-priority {
	float: right;

	label {
		font-weight: bold;
		cursor: help;
		font-size: 1.1em;
		padding-right: 0.5em;
	}

	input {
		width: 4em;
	}
}

.CodeMirror {
	width: 100%;
}

.CodeMirror-sizer {
	min-height: 300px !important;
}
