@import 'tag-it/css/jquery.tagit';
@import 'tag-it/css/tagit.ui-zendesk';

/**
 * Custom styling for the single snippet admin page
 */

.form-table th {
	width: auto;
}

h2 {
	/* Provide some decent space between the fields and titles */
	margin: 25px 0 15px 0;

	&:first-of-type {
		margin-top: 20px;
	}

	label {
		cursor: auto;
	}
}

.inactive-snippet, .active-snippet {
	#title {
		border-left-width: 4px;
	}
}

.active-snippet #title {
	border-left-color: #46b450;
}

.inactive-snippet #title {
	border-left-color: #bbb;
}

.erroneous-snippet #title {
	border-left-color: #dc3232;
}

/* Position the description heading on the same level as the editor buttons */
label[for='snippet_description'] h3 div {
	position: absolute;
}

ul.tagit {
	background-color: #fff !important;
}

/* Add spacing in between the action buttons */
.button + .button {
	margin-left: .5em;
}

.submit-inline {
	float: right;
}

.snippet-scope {
	margin-top: 15px;

	label {
		margin-right: 1.5em;
		display: inline-block;
	}
}

.snippet-priority {
	float: right;

	label {
		font-weight: bold;
		cursor: help;
		font-size: 1.1em;
		padding-right: 0.5em;
	}

	input {
		width: 4em;
	}
}

.snippet-editor {
	position: relative;
}

.editor-help-tooltip {
	cursor: help;
	padding: 0.3em 0.3em 0;
	display: inline-block;
	font-size: 10px;
	background: transparent !important;
}

.snippet-editor-help {
	position: absolute;
	right: 5px;
	top: 5px;

	&:hover .editor-help-text {
		visibility: visible;
		opacity: 1;
	}
}

.editor-help-text {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	padding: 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 99;
	top: 125%;
	right: 0;
	margin-right: -10px;
	opacity: 0;
	transition: opacity 0.3s;
	white-space: nowrap;
	font-size: small;

	&::after {
		content: "";
		position: absolute;
		bottom: 100%;
		right: 0;
		margin-right: 10px;
		border: 5px solid transparent;
		border-bottom-color: #555;
	}

	td:first-child {
		padding-right: 0.5em;
	}

	.mac-key {
		display: none;
	}

	&.platform-mac {
		.mac-key {
			display: inline;
		}

		.pc-key {
			display: none;
		}
	}
}

.CodeMirror {
	width: 100%;
}

.CodeMirror-sizer {
	min-height: 300px !important;
}
