/**
 * Custom styling for the snippets table
 */

$active-color: #2196f3;
$inactive-color: #ccc;

.column-name {

	.dashicons {
		font-size: 16px;
		width: 16px;
		height: 16px;
	}

	.dashicons-clock {
		vertical-align: middle;
	}

	.active-snippet & > a {
		font-weight: 600;
	}
}

.column-priority input {
	appearance: none;
	background: none;
	border: none;
	box-shadow: none;
	width: 4em;

	&:disabled {
		color: inherit;
	}
}

.snippet-execution-button,
.snippet-activation-switch {
	display: block;
	position: relative;
}

.snippet-activation-switch {
	margin-top: 5px;
	width: 30px;
	height: 17px;
	border-radius: 34px;
	background-color: #ccc;

	&::before {
		transition: all .4s;
		content: "";
		height: 13px;
		width: 13px;
		display: inline-block;
		margin: 1.5px 2px;
		background-color: white;
		border-radius: 50%;
	}

	&:hover::before {
		transform: translateX(40%);
	}

	.snippets .active-snippet & {
		background-color: $active-color;

		&::before {
			transform: translateX(100%);
		}

		&:hover::before {
			transform: translateX(60%);
		}
	}
}

.snippet-execution-button {
	margin-left: 10px;
	margin-top: 9px;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 10px solid $inactive-color;
	transition: all 0.3s;

	&::before {
		content: '';
		position: absolute;
		top: -14px;
		left: -21px;
		bottom: -14px;
		right: -8px;
		border-radius: 50%;
		border: 1.8px solid $inactive-color;
		z-index: 2;
		transition: all .3s;
	}

	&:hover, &:focus {
		border-left-color: #579;

		&::before {
			transform: scale(1.1);
			border-color: #579;
		}
	}
}

.clear-filters {
	vertical-align: baseline !important;
}

.snippets {

	th, td {
		color: #000;
	}

	tr {
		background: #fff;
	}

	ol, ul {
		margin: 0 0 1.5em 0.5em;
		padding: 0;
	}

	ol {
		margin-left: 1.5em;
		padding-left: 1.5em;
	}

	ul {
		list-style: disc;
	}

	.row-actions {
		color: #ddd;
		position: relative;
		left: 0;
	}

	.column-activate {
		padding-right: 0 !important;
	}

	.clear-filters {
		vertical-align: middle;
	}

	tfoot th {
		border-top: none !important;

		&.check-column {
			padding: 13px 0 0 3px;
		}
	}

	thead th.check-column,
	tfoot th.check-column,
	.inactive-snippet th.check-column {
		padding-left: 5px;
	}

	.column-description p {
		color: #333;
	}

	.active-snippet, .inactive-snippet {
		td, th {
			padding: 10px 9px;
			border: none;
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		}
	}

	.badge {
		margin-left: 4px;
		padding: 3px 6px;
		text-decoration: none;
		border: medium none;
		border-radius: 2px;
		background: #e0e0e0;
		font-size: smaller;
		line-height: 1.2;

		/* rtl:ignore */
		.rtl & {
			float: left;
		}
	}

	tr.active-snippet + tr.inactive-snippet th,
	tr.active-snippet + tr.inactive-snippet td {
		border-top: 1px solid rgba(0, 0, 0, 0.03);
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02), inset 0 -1px 0 #e1e1e1;
	}

	&, #all-snippets-table, #search-snippets-table {
		a.delete:hover {
			border-bottom: 1px solid #f00;
			color: #f00;
		}
	}

	#wpbody-content & .column-name {
		white-space: nowrap; /* prevents wrapping of snippet title */
	}
}

.inactive-snippet a {
	color: #579;
}

.active-snippet {

	td, th {
		/* B10DC9 */
		/* #78c8e6 */
		background-color: rgba(120, 200, 230, 0.06);
	}

	th.check-column {
		border-left: 2px solid #2ea2cc;
	}

	.snippet-activation-switch {
		background-color: $active-color;
	}
}

.css-snippet.inactive-snippet a {
	color: #b452cd;
}

.css-snippet.active-snippet {
	a {
		color: #7d26cd
	}

	td, th {
		background-color: rgba(85, 26, 139, 0.06);
	}

	.snippet-activation-switch {
		background-color: rgba(128, 0, 255);
	}

	th.check-column {
		border-left-color: rgba(128, 0, 255);
	}
}

.html-snippet a {
	color: #548b54;
}

.html-snippet.active-snippet {

	th, td {
		background-color: rgba(84, 139, 84, 0.06);
	}

	a {
		color: #548b54;
	}

	th.check-column {
		border-left-color: #548b54;
	}

	.snippet-activation-switch {
		background-color: #548b54;
	}
}

.js-snippet.inactive-snippet a {
	color: #cd6600;
}

.js-snippet.active-snippet {

	th, td {
		background-color: rgba(205, 102, 0, 0.06);
	}

	a {
		color: #d44500;
	}

	th.check-column {
		border-left-color: #cd6600;
	}

	.snippet-activation-switch {
		background-color: #cd6600;
	}
}

@media screen and (max-width: 782px) {
	p.search-box {
		float: left;
		position: initial;
		margin: 0;
		height: auto;
	}
}
