/**
 * Custom styling for the snippets table
 */

.column-name {

	.dashicons {
		font-size: 16px;
		width: 16px;
		height: 16px;
	}

	.dashicons-clock {
		vertical-align: middle;
	}

	.active-snippet & > a {
		font-weight: 600;
	}
}

.column-priority input {
	appearance: none;
	background: none;
	border: none;
	box-shadow: none;
	width: 4em;

	&:disabled {
		color: inherit;
	}
}

.snippets .row-actions, .snippets .snippet-name {
	margin-left: 40px;
}

.snippets .row-actions {
	position: relative;
	left: 0;
}

.snippet-execution-button,
.snippet-activation-switch {
	position: absolute;
	display: inline-block;
}

.snippet-activation-switch {
	margin-top: 5px;
	width: 30px;
	height: 17px;
	transition: .4s;
	border-radius: 34px;
	background-color: #ccc;

	&::before {
		content: "";
		height: 13px;
		width: 13px;
		display: inline-block;
		margin: 1.5px 2px;
		background-color: white;
		transition: .4s, background-color 1000ms linear;
		border-radius: 50%;
	}

	.snippets .active-snippet & {
		background-color: #2196f3;

		&::before {
			transform: translateX(100%);
		}
	}
}

.snippet-execution-button {
	margin-left: 10px;
	margin-top: 9px;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 10px solid #ccc;
	transition: all 0.3s;

	&::before {
		content: '';
		position: absolute;
		top: -14px;
		left: -21px;
		bottom: -14px;
		right: -8px;
		border-radius: 50%;
		border: 1.8px solid #ccc;
		z-index: 2;
		transition: all .3s;
	}

	&:hover, &:focus {
		&::before {
			transform: scale(1.1);
		}
	}
}

.clear-filters {
	vertical-align: baseline !important;
}

.snippets .badge {
	margin-left: 4px;
	padding: 3px 6px;
	text-decoration: none;
	border: medium none;
	border-radius: 2px;
	background: #e0e0e0;
	font-size: smaller;
	line-height: 1.2;

	/* rtl:ignore */
	.rtl & {
		float: left;
	}
}

.snippets {

	th, td {
		color: #000;
	}

	tr {
		background: #fff;
	}

	.row-actions {
		color: #ddd;
	}

	.clear-filters {
		vertical-align: middle;
	}

	tfoot th {
		border-top: none !important;

		&.check-column {
			padding: 13px 0 0 3px;
		}
	}

	thead th.check-column,
	tfoot th.check-column,
	.inactive-snippet th.check-column {
		padding-left: 5px;
	}

	.column-description p {
		color: #333;
	}

	.inactive-snippet a {
		color: #579;
	}

	.active-snippet, .inactive-snippet {
		td, th {
			padding: 10px 9px;
			border: none;
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		}
	}

	.active-snippet {

		td, th {
			background-color: rgba(120, 200, 230, 0.06);
		}

		th.check-column {
			border-left: 2px solid #2ea2cc;
		}

	}

	tr.active-snippet + tr.inactive-snippet th,
	tr.active-snippet + tr.inactive-snippet td {
		border-top: 1px solid rgba(0, 0, 0, 0.03);
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02), inset 0 -1px 0 #e1e1e1;
	}

	&, #all-snippets-table, #search-snippets-table {
		a.delete:hover {
			border-bottom: 1px solid #f00;
			color: #f00;
		}
	}

	#wpbody-content & .column-name {
		white-space: nowrap; /* prevents wrapping of snippet title */
	}
}

@media screen and (max-width: 782px) {
	p.search-box {
		float: left;
		position: initial;
		margin: 0;
		height: auto;
	}
}
