/**
 * Add the snippets icon to the admin menu
 */

@font-face {
	font-family: 'code-snippets';
	src: url('../font/code-snippets.eot');
	src: url('../font/code-snippets.eot?#iefix') format('embedded-opentype'),
		 url('../font/code-snippets.ttf') format('truetype'),
		 url('../font/code-snippets.woff') format('woff'),
		 url('../font/code-snippets.svg#code-snippets') format('svg');
	font-weight: normal;
	font-style: normal;
}

#toplevel_page_snippets div.wp-menu-image:before {
	font-family: 'code-snippets' !important;
	content: '\e600';
}

/* Added By CptCornWault - Visible Snippet Options SCSS
.snippets .row-actions {
	left: 0;
	span {
		opacity: .3;
		left: 0;
		&:first-of-type {
			left: 0;
			opacity: .5;
		}
	}
}
#the-list tr:hover span {
	opacity: 1;
}
*/

/* Added By CptCornWault - Visible Snippet Options CSS*/
/* This is what the SCSS should compile to - compile untested - please remove this and uncomment the SCSS above after testing its compilation */
.snippets .row-actions {
	left: 0px;
}
.snippets .row-actions span {
	opacity: .3;
	left: 0px;
}
.snippets .row-actions span:first-of-type {
	left: 0px;
	opacity: .5;
}
#the-list tr:hover span {
	opacity: 1;
}
