
.form-table th {
	font-weight: normal;
}

.CodeMirror {
	max-width: 800px;
}

.CodeMirror-sizer::before {
	content: '<?php';
}

p.submit {
	max-width: 1020px;

	.button-secondary {
		float: right;
	}
}
