#wpbody-content {
	display: flex;
	flex-flow: column;
}

#screen-meta-links {
	align-self: flex-end;
}

.code-snippets-navigation-top,
.code-snippets-navigation-lower {
	background: #fff;
	order: -1;
	color: #2c3337;
	margin-left: -20px;
	font-family: 'SF Pro', sans-serif;
}

.code-snippets-navigation-top {
	justify-content: space-between;
	height: 77px;
	padding-left: 35px;
	padding-right: 35px;
	display: flex;
	align-items: center;

	.logo {
		display: flex;
		align-items: center;
		gap: 8px;

		img {
			height: 42px;
		}
	}

	h1 {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.5;
	}

	nav ul {
		display: flex;
		gap: 22px;
		align-items: center;
	}

	nav li {
		list-style-type: none;
		margin: 0;
	}

	nav a {
		color: inherit;
		text-decoration: none;

		&:hover, &:focus, &:active {
			border-bottom: 1px solid currentColor;
		}
	}
}

.code-snippets-navigation-lower {
	border: 1px solid #c3c4c7;
	display: flex;
	align-items: end;

	> a {
		display: flex;
		padding: 24px 24px 20px;
		color: inherit;
		gap: 12px;
		align-items: center;
		font-size: 16px;
		text-decoration: none;
		font-weight: bold;
		box-sizing: border-box;
		transition: border unset;
		border-bottom: 4px solid transparent;
	}

	.active-link, > a:hover, > a:focus, > a:active {
		color: #2271b1;
		border-bottom-color: currentcolor;
	}

	.pro-chip {
		color: #d46f4d;
		text-transform: uppercase;
		border: 2px solid currentColor;
		border-radius: 999px;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding: 3px 9px;
	}
}
