@use 'theme';

.snippet-execution-button,
.snippet-activation-switch,
input[type=checkbox].switch {
	display: block;
	position: relative;
}

.snippet-activation-switch,
input[type=checkbox].switch {
	appearance: none;
	outline: 0;
	cursor: pointer;
	margin-top: 5px;
	width: 30px;
	height: 17px;
	border-radius: 34px;
	text-align: left;
	border: 1px solid theme.$accent;

	&::before {
		transition: all .4s;
		content: '';
		height: 13px;
		width: 13px;
		display: inline-block;
		margin: 2px;
		background-color: theme.$accent;
		border-radius: 50%;
	}
}

.active-snippet .snippet-activation-switch,
input[type=checkbox].switch:checked {
	&::before {
		background-color: white;
		transform: translateX(100%);
	}
}

.erroneous-snippet .snippet-activation-switch::before {
	content: '!';
	transform: translateX(50%);
	text-align: center;
	font-weight: bold;
	line-height: 1;
	color: #bbb;
}

.snippet-execution-button {
	margin-left: 10px;
	margin-top: 9px;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 10px solid #ccc;

	&::before {
		content: '';
		position: absolute;
		top: -14px;
		left: -21px;
		bottom: -14px;
		right: -8px;
		border-radius: 50%;
		border: 1.8px solid #ccc;
		z-index: 2;
	}

	&:hover {
		border-left-color: theme.$accent;
		transition: border-left-color 0.6s;

		&::before {
			border-color: theme.$accent;
			transition: border-color 0.6s;
		}
	}
}
