@use 'sass:color';

$accent: #2271b1;
$primary: #03c7d2;
$secondary: #d46f4d;
$outline: #9e9e9e;
$brand-discord: #5865f2;
$brand-facebook: #3b5998;

$badges: (
	php: (#1d97c6, #fff),
	html: (#ef6a36, #fff),
	css: (#9b59b6, #fff),
	js: (#ffeb3b, #1c1f20),
	cond: (#2eae95, #fff),
	core: (#61c5cb, #fff),
	pro: (#f7e8e3, #df9279),
	cloud: (#00bcd4, #fff),
	bundles: (#50575e, #fff),
	cloud_search: (#ff9800, #fff),
	private: (#f7e6be, #ca961b),
	public: (#dbebf7, #2271b1),
	success: (#d3e8d1, #447340),
	failure: (#fad7c1, #a24b16),
	info: (#d2e6f4, #2b71a3),
	neutral: (#e2e5e5, #6c7e7e),
	special: (#dfc5ef, #6e249c)
);

$notices: (
	success: (#D3E9D3, #377A37),
	warning: (#F2EBC3, #B0730A),
	error: (#f8d7da, #721c24),
);

@function contrasting-text-color($bg-color) {
	$red: color.channel($bg-color, 'red', $space: rgb);
	$green: color.channel($bg-color, 'green', $space: rgb);
	$blue: color.channel($bg-color, 'blue', $space: rgb);

	@if ($red * 0.299 + $green * 0.587 + $blue * 0.114) > 186 {
		@return #1C1F20;
	} @else {
		@return #fff;
	}
}

@mixin link-colors($color, $lightness: 15%) {
	a {
		color: $color;

		&:hover, &:active, &:focus {
			color: color.adjust($color, $lightness: $lightness);
		}
	}
}
