@use 'sass:color';

$primary: #03c7d2;
$secondary: #d46f4d;
$outline: #9e9e9e;

$core: #0073aa;
$pro: #ce0000;

$brand-discord: #5865f2;
$brand-facebook: #3b5998;

$types: (
		php: (
				active: #0073aa,
				inactive: #579,
				background: #78c8e6,
				highlight: #0073aa
		),
		css: (
				active: #7d26cd,
				inactive: #b452cd,
				background: #551a8b,
				highlight: #8000ff
		),
		html: (
				active: #548b54,
				inactive: #548b54,
				background: #548b54,
				highlight: #548b54
		),
		js: (
				active: #d44500,
				inactive: #cd6600,
				background: #cd6600,
				highlight: #cd6600
		)
);

@mixin link-colors($color, $lightness: 15%) {
	a {
		color: $color;

		&:hover, &:active, &:focus {
			color: color.adjust($color, $lightness: $lightness);
		}
	}
}
