@use 'sass:map';
@use 'theme';

%badge {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 1px 2px;
	border-radius: 3px;
	text-align: center;
	inline-size: 3.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-tab .badge,
.snippet-type-badge,
.go-pro-button .badge,
.button .badge {
	@extend %badge;
}


.go-pro-badge, .pro-badge, .core-badge {
	@extend %badge;

	margin-inline-start: 3px;
	border: 1px solid currentcolor;
	border-radius: 5px;
	font-size: 10px;
	padding: 1px 2px;
	text-transform: uppercase;
}

.go-pro-badge, .pro-badge {
	color: theme.$pro;
}

.core-badge {
	color: theme.$core;
}

.go-pro-badge,
.go-pro-button .badge {
	color: theme.$pro;
	background-color: #F7E8E3;
	margin-inline-start: 1px;
	font-size: 10px;
}

@each $type, $color in theme.$types {
	.nav-tab[data-snippet-type=#{$type}] .badge,
	.snippet-type-badge[data-snippet-type=#{$type}],
	.nav-tab-inactive[data-snippet-type=#{$type}]:hover .badge {
		color: theme.contrasting-text-color($color);
		background-color: $color;
	}
}

.nav-tab-button .dashicons-external {
	font-size: 15px;
	color: #666;
}

.nav-tab.nav-tab-inactive {
	background: transparent;

	.badge {
		color: #fff;
		background-color: #a7aaad;
	}
}

.core-badge {
	color: map.get(theme.$version_core, 'text');
	background: map.get(theme.$version_core, 'background');
}

.go-pro-button .badge,
.go-pro-badge {
	color: map.get(theme.$version_pro, 'text');
	background-color: map.get(theme.$version_pro, 'background');
	margin-left: 1px;
	font-size: 10px;
}

.wp-core-ui .button.nav-tab-button {
	margin-inline-start: 0.5em;
	float: inline-end;
	color: #a7aaad;
	background: #f6f7f7;
	border-color: #f6f7f7;

	&:hover {
		background-color: #fff;
		color: #3c434a;
	}
}
