/**
 * Use our awesome SVG icon on MP6 admin pages
 */

#toplevel_page_snippets {

	.wp-menu-image {
		background: {
			image: inline-image( 'menu-icon-mp6.svg' ) !important;
			position: center center !important;
			size: 20px 20px !important;
			repeat: no-repeat;
		}
	}

	&.wp-has-current-submenu .wp-menu-image,
	&.wp-has-current-submenu:hover .wp-menu-image {
		background-image: inline-image( 'menu-icon-mp6-active.svg' ) !important;
	}

	&:hover .wp-menu-image {
		background-image: inline-image( 'menu-icon-mp6-hover.svg' ) !important;
	}

}

