/**
 * Use our awesome SVG icon on MP6 admin pages
 */

#toplevel_page_snippets div.wp-menu-image {

	&:before {
		display: none;
	}

	background: {
		image: inline-image( 'menu-icon-mp6.svg') !important;
		position: center center !important;
		size: 20px 20px;
		repeat: no-repeat;
	}
	margin-top: 2px;
}
