@use '../common/theme';

.column-name,
.column-type {
	.dashicons {
		font-size: 16px;
		inline-size: 16px;
		block-size: 16px;
		vertical-align: middle;
	}

	.dashicons-clock {
		vertical-align: middle;
	}
}

.column-name .tooltip {
	float: inline-end;

	.dashicons-lock {
		color: #646970;
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}
	}
}

.active-snippet .column-name > .snippet-name {
	font-weight: 600;
}

.active-snippet {
	td, th {
		background-color: rgba(#78c8e6, 0.06);
	}

	th.check-column {
		border-inline-start: 2px solid #2ea2cc;
	}
}

.priority-column input {
	appearance: none;
	background: none;
	border: none;
	box-shadow: none;
	inline-size: 4em;
	color: #666;
	text-align: center;

	&:disabled {
		color: inherit;
	}

	&:hover, &:focus, &:active {
		color: #000;
		background-color: rgb(0 0 0 / 10%);
		border-radius: 6px;
		appearance: unset;

		&:disabled {
			color: inherit;
			background-color: transparent;
		}
	}
}

.wp-list-table {
	td.column-id {
		text-align: center;
	}

	tr {
		background: #fff;
	}

	ol, ul {
		margin-block: 0 1.5em;
		margin-inline: 1.5em 0;
	}

	ul {
		list-style: disc;
	}

	th.sortable a, th.sorted a {
		display: flex;
		flex-direction: row;
	}

	.row-actions {
		color: #ddd;
		position: relative;
		inset-inline-start: 0;

		.button-link {
			min-block-size: unset;
			line-height: unset;
			border: none;

			&:hover {
				background: none;
			}
		}

		.delete.disabled {
			color: #a7aaad;
			cursor: not-allowed;
			pointer-events: none;
		}
	}

	.column-activate {
		padding-inline-end: 0 !important;
	}

	.clear-filters {
		vertical-align: middle;
	}

	tfoot th.check-column {
		padding: 13px 0 0 3px;
	}

	thead th.check-column,
	tfoot th.check-column,
	.inactive-snippet th.check-column {
		padding-inline-start: 5px;
	}

	.active-snippet, .inactive-snippet {
		td, th {
			padding: 10px 9px;
			border: none;
			box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
		}
	}

	tr.active-snippet + tr.inactive-snippet th,
	tr.active-snippet + tr.inactive-snippet td {
		border-block-start: 1px solid rgb(0 0 0 / 3%);
		box-shadow: inset 0 1px 0 rgb(0 0 0 / 2%), inset 0 -1px 0 #e1e1e1;
	}

	.delete {
		color: #b32d2e;
	}

	a.delete:not(.disabled) {
		&:hover, &:focus, &:active {
			border-block-end: 1px solid #f00;
			color: #f00;
		}
	}

	#wpbody-content & .column-name {
		white-space: nowrap; /* prevents wrapping of snippet title */
		vertical-align: top;
	}

	td.column-date, th.column-date {
		white-space: nowrap;
		inline-size: 130px; /* fixed column width */
		min-inline-size: 130px;
		max-inline-size: 130px;
		text-align: end;
		padding-inline: 8px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	td.column-date .modified-column-content {
		display: block;
		text-align: start;
	}
}

.wp-list-table.truncate-row-values {
	table-layout: fixed;

	td.column-desc {
		overflow: hidden;
	}

	#wpbody-content td.column-name > .snippet-name,
	td.column-desc .snippet-description-content {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.wp-core-ui .button.clear-filters {
	vertical-align: baseline;
}

.inactive-snippet {
	@include theme.link-colors(#579);
}


@media (width <= 782px) {
	p.search-box {
		float: inline-start;
		position: initial;
		margin-block: 1em 0;
		margin-inline: 0;
		block-size: auto;
	}
}


.wp-list-table .is-expanded td.column-activate.activate {
	/* fix for mobile layout */
	display: table-cell !important;
}

.snippet-type-description {
	border-block-end: 1px solid #ccc;
	margin: 0;
	padding-block: 1em;
	padding-inline: 0;
}
