
.code-snippets-upgrade-dialog {
	text-align: center;

	.logo {
		font-size: 25px;
		display: grid;
		gap: 0.2em;
		grid-template-columns: auto auto;
		justify-content: center;
		align-items: center;

		img {
			height: 50px;
		}
	}

	p {
		text-align: center;
	}

	.components-modal__content {
		margin-top: 0;
		padding: 32px;
	}
}
