/**
 * Custom styling for the single snippet admin page
 *
 * @package    Code_Snippets
 * @subpackage Assets
 */

h3 {
	/* Provide some decent space between the fields and titles */
	margin: 1em 0;
}

label {
	/* What's with the pointer mouse on labels? */
	cursor: auto;
}

/**
 * Customize the CodeMirror editor
 * to look pretty and support auto-resizing
 */
.CodeMirror {
	min-height: 300px;
	height: auto;
	border: 1px solid #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-o-border-radius: 3px;
}

.CodeMirror-scroll {
	overflow-x: auto;
	overflow-y: hidden;
}

.CodeMirror-sizer {
	min-height: 300px !important;
}

/** Tweak things for the MP6 interface */
.admin-color-mp6 .CodeMirror {
	width: 100%;
	border-color: #dfdfdf;
	background-color: #fff;
}
