/**
 * Custom styling for the snippets table
 * and the MP6 interface
 *
 * @package Code Snippets
 * @subpackage Assets
 */

.snippets .row-actions-visible {
	color: #ddd;
}

.snippets tfoot th {
	border-top: none !important;
}

.snippets a.delete:hover,
#all-snippets-table .snippets a.delete:hover,
#search-snippets-table .snippets a.delete:hover {
	border-bottom: 1px solid #f00;
	color: #f00;
}

.snippets .column-description p {
	color: #333;
}

.snippets .inactive .column-name strong {
	color: #333;
	font-weight: 400;
}

.snippets,
.snippets th,
.snippets td {
	color: #000;
}

.snippets .inactive a {
	color: #579;
}

.snippets tr {
	background: #fff;
}

.snippets .inactive td,
.snippets .inactive th,
.snippets .active td,
.snippets .active th {
	padding: 10px 9px;
	border: none;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);;
}

.snippets tbody th.check-column {
	padding: 13px 0 0 3px;
}

.snippets .active td,
.snippets .active th {
	background-color: rgba(120,200,230,0.06);
}

.snippets tr.active + tr.inactive th,
.snippets tr.active + tr.inactive td {
	border-top: 1px solid rgba(0,0,0,0.03);
	-webkit-box-shadow: inset 0px 1px 0 rgba(0,0,0,0.02), inset 0 -1px 0 #e1e1e1;
	box-shadow: inset 0px 1px 0 rgba(0,0,0,0.02), inset 0 -1px 0 #e1e1e1;
}

.snippets thead th.check-column,
.snippets tfoot th.check-column,
.snippets .inactive th.check-column {
	padding-left: 5px;
}

.snippets .active th.check-column {
	border-left: 2px solid #2ea2cc;
}

#wpbody-content .snippets  .column-name {
	white-space: nowrap; /* prevents wrapping of snippet title */
}
