/**
 * Custom styling for the snippets table
 *
 * @package    Code_Snippets
 * @subpackage Assets
 */

.snippets .inactive a {
	color: #557799;
}

.snippets .inactive a:hover,
#all-snippets-table .snippets .inactive a:hover,
#search-snippets-table .snippets .inactive a:hover {
	color: #d54e21;
}

.snippets .delete a {
	color: #21759b;
}

#wpbody-content .snippets tr {
	background-color: #fcfcfc;
}

.snippets .inactive,
.snippets .inactive th,
.snippets .inactive td {
	background-color: #f4f4f4;
}

.snippets .active,
.snippets .active th,
.snippets .active td {
	color: #000;
}

#wpbody-content .snippets  .column-name {
	white-space: nowrap; /* prevents wrapping of snippet title */
}

#wpbody-content .snippets .manage-column.column-id.sortable {
	min-width: 44px;
}
