.wp-core-ui .button.button-simple-text {
	background: none;
	border: none;
	appearance: none;
	min-height: auto;
	display: inline;
	font-size: inherit;
	padding: 0;
	line-height: normal;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.code-snippets-condition-modal {
	overflow: initial;

	.components-modal__content {
		padding: 0;
		min-block-size: 450px;
		display: flex;
		flex-flow: column;
		background: #F6F7F7;
		overflow: initial;
		max-inline-size: 100%;
	}

	.components-modal__header-heading::after {
		content: 'beta';
		text-transform: uppercase;
		border: 1px solid currentcolor;
		border-radius: 3px;
		padding: 3px 5px;
		margin-inline-start: 0.5em;
		font-size: small;
	}

	.components-modal__header + div {
		display: flex;
		flex-flow: column;
		flex: 1;
		overflow-y: auto;
	}

	.modal-splash {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		flex: 1;
	}

	.modal-splash-buttons {
		display: flex;
		gap: 8px;
	}

	.modal-footer, .modal-content {
		padding: 21px 28px;
	}

	.modal-form {
		flex: 1;
		display: flex;
		flex-flow: column;
	}

	.modal-content {
		flex: 1;
	}

	.modal-content-top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		label {
			font-weight: bold;
		}
	}

	.modal-content-mid {
		padding: 16px 0 36px;
		margin-bottom: 36px;
		border-bottom: 1px solid #E2E2E4;

		input[type='text'],
		.code-snippets-select > div[class$='-control'] {
			width: 100%;
			height: 45px;
		}

		input[type='text'] {
			border-radius: 5px;
			border: 1px solid #C3C4C7;
		}
	}

	.modal-footer {
		border-block-start: 1px solid #E2E2E4;
		display: flex;
		justify-content: space-between;
		align-items: center;
		bottom: 0;
		background: #F6F7F7;
		width: 100%;

		> div {
			display: flex;
			gap: 8px;
			align-items: center;
		}

		.button-large {
			block-size: 45px;
		}
	}
}
