@use 'condition-modal';

.snippet-condition-editor-container {
	margin-top: 33px;
	padding: 32px;
	border: 1px solid #C3C4C7;
	background: #F6F7F7;

	h2:first-of-type {
		margin-top: 0;
	}
}

.snippet-condition-editor {
	flex-flow: column;
	align-items: flex-start;

	h4 {
		margin-bottom: 0;
	}

	input[type="text"]:focus {
		box-shadow: none;
	}

	.condition-clone-button,
	.condition-remove-button {
		border: none;
		background: none;
		padding: 0;
		line-height: 1;
		fill: #646970;
	}

	.condition-remove-button:hover svg {
		fill: #b32d2e
	}

	.condition-group-sep, .condition-row-sep {
		text-align: center;
		font-style: italic;
	}
}

.snippet-condition-rules {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	gap: 8px;
	margin: 10px 0;
}

.snippet-condition-rule {
	display: flex;
	flex-flow: row;
	gap: 1em;
	align-items: center;
	width: 100%;
}

.snippet-condition-field-select {
	flex: 0 1 9em;
}

.snippet-condition-enabled-select,
.snippet-condition-operator-select {
	text-transform: uppercase;
}

.snippet-condition-subject-select {
	flex: 1 9em;
}

.snippet-condition-operator-select {
	flex: 0 1 8em;
}

.snippet-condition-object-select {
	flex: 0 1 16em;
}
