
.code-snippets-condition-modal {
	overflow: initial;

	.components-modal__content {
		padding: 0;
		min-block-size: 450px;
		display: flex;
		flex-flow: column;
		background: #F6F7F7;
		overflow: initial;
		max-inline-size: 100%;
	}

	.components-modal__header-heading::after {
		content: 'beta';
		text-transform: uppercase;
		border: 1px solid currentcolor;
		border-radius: 3px;
		padding: 3px 5px;
		margin-inline-start: 0.5em;
		font-size: small;
	}

	.components-modal__header + div {
		display: flex;
		flex-flow: column;
		flex: 1;
	}

	.modal-nav {
		display: flex;
		flex-flow: row wrap;
		border-block-start: 1px solid #E2E2E4;;
		border-block-end: 1px solid #E2E2E4;;
		padding: 17.4px 24px;
		background: #fff;
		gap: 2em;
	}

	.modal-footer, .modal-content {
		padding: 24px 28px;
	}

	.modal-form {
		flex: 1;
		display: flex;
		flex-flow: column;
	}

	.modal-content {
		flex: 1;
	}

	.modal-footer {
		border-block-start: 1px solid #E2E2E4;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.cancel-button {
			background: none;
			border: none;
		}

		> div {
			display: flex;
			gap: 8px;
			align-items: center;
		}

		.condition-title-input {
			border: 1px solid #C3C4C7;
			inline-size: 20em;
		}

		.condition-title-input,
		.button-large {
			block-size: 45px;
		}
	}
}
