@use 'condition-modal';

.snippet-condition-editor-container {
	margin-top: 33px;
	padding: 32px;
	border: 1px solid #C3C4C7;
	background: #F6F7F7;

	h2:first-of-type {
		margin-top: 0;
	}
}

.snippet-condition-editor {
	flex-flow: column;
	align-items: flex-start;

	h4 {
		margin-bottom: 0;
	}

	input[type="text"]:focus {
		box-shadow: none;
	}

	.condition-add-group-button {
		align-self: center;
	}

	.condition-add-rule-button {
		text-transform: uppercase;
		justify-self: center;
	}

	.condition-remove-rule-button {
		border: none;
		background: none;
		padding: 0;
		line-height: 1;
		fill: #646970;
	}

	.condition-remove-rule-button:hover svg {
		fill: #b32d2e
	}
}

.snippet-condition-groups {
	display: flex;
	flex-flow: column;
	gap: 24px;
}

.snippet-condition-group {
	background-color: #F0F0F0;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 16px;
	gap: 8px;
}

.condition-group-sep {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: 700;

	&::before, &::after {
		content: '';
		flex: 1;
		border-bottom: 1px solid #E2E2E4;
	}

	&:not(:empty)::before {
		margin-right: 8px;
	}

	&:not(:empty)::after {
		margin-left: 8px;
	}
}

.snippet-condition-rule {
	display: flex;
	flex-flow: row;
	gap: 1em;
	align-items: stretch;
}

.snippet-condition-subject-select {
	min-width: 12em;

	&:last-of-type {
		flex: 1;
	}
}

.snippet-condition-operator-select {
	min-width: 8em;
}

.snippet-condition-object-select {
	min-width: 16em;
	flex: 1;
}

.snippet-condition-operator-select {
	text-transform: uppercase;
}

.condition-snippets-table {
	.wp-list-table th {
		vertical-align: top;
	}

	.snippet-selector {
		display: grid;
		grid-template-columns: 1fr auto;
		margin: 1em 0;
		gap: 1em;
	}
}
