@use '../common/theme';

$sidebar-width: 280px;
$sidebar-gap: 30px;

.snippet-type-option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row;

	.small-badge {
		margin-inline-start: 0.5em;
	}

	.badge {
		float: inline-end;
	}
}


.conditions-editor-open .button.button-large {
	font-weight: bold;
	block-size: 100%;
	display: flex;
	align-items: center;
	min-block-size: 45px;
	gap: 5px;
	overflow: hidden;

	&.no-condition {
		border-color: #ccc;
		background-color: #fff;;
	}

	.badge {
		margin-block: 3px;
		margin-inline: 0;
	}

	.beta-badge {
		margin-inline-start: auto;
		border: 1px solid currentcolor;
	}

	.pro-badge {
		color: currentcolor;
		border: 1px solid currentcolor;
		background: transparent;

		@media screen and (width >= 1080px) and (width <= 1250px) {
			display: none;
		}
	}
}

.snippet-form {
	margin-block-start: 10px;
	max-inline-size: 1440px;
	display: grid;
	gap: $sidebar-gap;
	grid-template-columns: 1fr $sidebar-width;
	grid-template-areas: "upper sidebar" "lower sidebar";
	transition: all 700ms;

	&.snippet-form-expanded {
		grid-template-areas: "upper upper" "lower sidebar";
	}

	.snippet-form-upper {
		grid-area: upper;
	}

	.snippet-form-lower {
		grid-area: lower;
	}

	.snippet-editor-sidebar {
		grid-area: sidebar;
		max-inline-size: $sidebar-width;
	}

	@media (width <= 1024px) {
		grid-template-columns: 1fr;
	}

	#titlediv #title {
		block-size: 45px
	}

	h2, h3 {
		margin-block: 25px 15px;
		margin-inline: 0;
		font-size: 1.16em;

		label {
			cursor: auto;
		}

		.button {
			font-weight: normal;
		}
	}
}

.above-editor-container {
	display: flex;
	flex-flow: row wrap;
	gap: 1em;

	> * {
		flex: 1;
		display: flex;
		flex-flow: column;
		min-inline-size: 180px;
	}
}
