/**
 * Styles for the edit snippet admin page.
 */

@use 'common/codemirror';
@use 'common/type-badges';
@use 'common/switch';

@use 'edit/form';
@use 'edit/sidebar';
@use 'edit/editor';

@use 'common/tooltips';
@use 'edit/conditions';
@use 'edit/upgrade-dialog';
@use 'edit/gpt';
@use 'edit/conditions';

.notice.error blockquote {
	margin-bottom: 0;
}

.code-snippets-copy-text {
	color: inherit;
}

.button svg {
	height: 1rem;
	vertical-align: middle;
	line-height: 1;
	margin: -2px 3px 0 0;
}

.snippet-description-container {
	margin-top: 25px;
}

#edit-snippet-form-container .cs-sticky-notice {
	position: sticky;
	top: 40px;
	z-index: 100;
}
