/**
 * Styles for the edit snippet admin page.
 */

@use 'common/codemirror';
@use 'common/type-badges';
@use 'common/switch';
@use 'common/select';
@use 'common/tooltips';
@use 'edit/form';
@use 'edit/sidebar';
@use 'edit/editor';
@use 'edit/upgrade-dialog';
@use 'edit/conditions';
@use 'edit/gpt';

.notice.error blockquote {
	margin-block-end: 0;
}

.code-snippets-copy-text {
	color: inherit;
}

.button svg {
	block-size: 1rem;
	vertical-align: middle;
	line-height: 1;
	margin: 0;
}

.snippet-description-container {
	margin-block-start: 25px;

	.wp-editor-tools {
		padding-top: 5px;
	}

	.wp-editor-tabs {
		float: left;
	}

	.generate-button {
		float: right;
		margin-top: 37px;
		z-index: 99;
		position: relative;
	}
}

#edit-snippet-form-container .cs-sticky-notice {
	position: sticky;
	inset-block-start: 40px;
	z-index: 100;
}

#snippet-form.condition-snippet .snippet-code-container {
	display: none;
}
