@use 'common/theme';
@use 'common/badges';
@use 'common/switch';
@use 'common/select';
@use 'common/upsell';
@use 'common/toolbar';

.nav-tab {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 8px;

	@media screen and (width <= 1190px) {
		span:first-child:not(:last-child) {
			display: none;
		}
	}
}

.nav-tab-wrapper + .subsubsub, p.search-box {
	margin-block: 10px 0;
	margin-inline: 0;
}

.name-column,
.type-column {
	.dashicons {
		font-size: 16px;
		inline-size: 16px;
		block-size: 16px;
		vertical-align: middle;
	}

	.dashicons-clock {
		vertical-align: middle;
	}
}

.active-snippet .name-column > a {
	font-weight: 600;
}

.active-snippet {
	td, th {
		background-color: rgba(#78c8e6, 0.06);
	}

	th.check-column {
		border-inline-start: 2px solid #2ea2cc;
	}
}

.priority-column input {
	appearance: none;
	background: none;
	border: none;
	box-shadow: none;
	inline-size: 4em;
	color: #666;
	text-align: center;

	&:hover, &:focus, &:active {
		color: #000;
		background-color: rgb(0 0 0 / 10%);
		border-radius: 6px;
		appearance: unset;
	}

	&:disabled {
		color: inherit;
	}
}

.snippets-table-heading {
	display: flex;
	align-items: center;
	margin-block: 50px 1.4rem;

	h1 {
		font-size: 1.6rem;
		padding: 0;
	}

	.button-primary {
		margin-inline-start: auto;
	}
}

.wp-list-table {
	td.column-id {
		text-align: center;
	}

	tr {
		background: #fff;
	}

	ol, ul {
		margin-block: 0 1.5em;
		margin-inline: 1.5em 0;
	}

	ul {
		list-style: disc;
	}

	th.sortable a, th.sorted a {
		display: flex;
		flex-direction: row;
	}

	.row-actions {
		color: #ddd;
		position: relative;
		inset-inline-start: 0;

		.button-link {
			min-block-size: unset;
			line-height: unset;

			&:hover {
				background: none;
			}
		}
	}

	.column-activate {
		padding-inline-end: 0 !important;
	}

	.clear-filters {
		vertical-align: middle;
	}

	tfoot th.check-column {
		padding-block: 13px 0;
		padding-inline: 3px 0;
	}

	thead th.check-column,
	tfoot th.check-column,
	.inactive-snippet th.check-column {
		padding-inline-start: 5px;
	}

	.active-snippet, .inactive-snippet {
		td, th {
			padding-block: 10px;
			padding-inline: 9px;
			border: none;
			box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
		}
	}

	tr.active-snippet + tr.inactive-snippet th,
	tr.active-snippet + tr.inactive-snippet td {
		border-block-start: 1px solid rgb(0 0 0 / 3%);
		box-shadow: inset 0 1px 0 rgb(0 0 0 / 2%), inset 0 -1px 0 #e1e1e1;
	}

	.delete {
		color: #b32d2e;

		&:hover, &:focus, &:active {
			border-block-end: 1px solid #f00;
			color: #f00;
		}
	}

	#wpbody-content & .column-name {
		white-space: nowrap; /* prevents wrapping of snippet title */
		vertical-align: top;
	}
}

.wp-core-ui .button.clear-filters {
	vertical-align: baseline;
}

.inactive-snippet {
	@include theme.link-colors(#579);
}
