@use '../common/theme';

.snippets-table-card {
	.wp-list-table {
		border-radius: 5px;
	}

	th.check-column {
		padding: 8px 0;
	}

	.tablenav {
		display: flex;
		gap: 10px;
		block-size: auto;
		padding: 0;
	}

	.tablenav.bottom {
		margin-block-start: 1em;
	}
}

.import-snippets-card {
	background-color: var(--cs-color-surface);
	padding: 25px;
	border-radius: 5px;
	border: 1px solid var(--cs-color-border-subtle);
	margin-block-end: 10px;
	inline-size: 100%;
	box-sizing: border-box;

	&.status-display {
		display: flex;
		align-items: flex-start;
		gap: 12px;
		margin-block-end: 20px;
	}
}
