.import-snippets-menu {
	.narrow {
		max-inline-size: 800px;
	}

	h2.nav-tab-wrapper {
		margin-block-end: 20px;
	}
}

.import-snippets-section {
	padding-block-start: 0;
	display: none;

	&.active-section {
		display: block;
	}
}
